@font-face {
  font-family: "Akrobat";
  src: url("../fonts/Akrobat-Regular.ttf"), url("../fonts/Akrobat-Regular.woff"), url("../fonts/Akrobat-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf"), url("../fonts/Roboto-Regular.woff"), url("../fonts/Roboto-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf"), url("../fonts/Roboto-Medium.woff"), url("../fonts/Roboto-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf"), url("../fonts/Roboto-Bold.woff"), url("../fonts/Roboto-Bold.woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
select,
textarea {
  background: transparent;
  outline: none;
  border: none;
  font-family: inherit;
}

h2 {
  font-family: "Akrobat", sans-serif;
  line-height: 38px;
  font-size: 30px;
  text-transform: capitalize;
  font-weight: 400;
}

h4 {
  color: rgb(91, 72, 74);
  font-size: 16px;
  font-weight: 700;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding: 28px 0 50px 0;
}

.header__inner {
  padding: 18px 0 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header__logo img:nth-child(2) {
  display: none;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 19px;
}

.form {
  border: 1px solid rgb(207, 207, 207);
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding-right: 50px;
  position: relative;
  overflow: hidden;
  padding: 5px 50px 5px 0;
}

.form__item span {
  color: rgb(1, 1, 1);
  font-size: 17px;
  font-weight: 500;
  line-height: 34px;
  margin-right: 9px;
}

.form__item {
  padding-left: 14px;
}

.form__item input,
.form__item input::placeholder {
  color: rgb(1, 1, 1);
  font-size: 17px;
  font-weight: 400;
  line-height: 34px;
  padding-right: 14px;
}

.form__item:first-of-type input {
  border-right: 1px solid rgb(207, 207, 207);
}

.form__btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background: #754040;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
}

.header__langs-selected {
  cursor: pointer;
  width: 23px;
  height: 17px;
}

.header__langs-selected img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.langs__inner {
  display: none;
}

.langs__list {
  width: 165px;
  position: absolute;
  top: 18px;
  right: 0;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 0px 8px 0px rgba(134, 135, 137, 0.25);
  background: rgb(255, 255, 255);
  padding: 39px 18px 18px 18px;
  z-index: 100;
}

.active-langs {
  display: block;
}

.langs__list li {
  margin-bottom: 22px;
  display: inline-block;
}

.langs__list li:last-child {
  margin-bottom: 0;
}

.langs__link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.langs__link img {
  width: 23px;
  height: 17px;
}

.langs__link span {
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.langs__btn {
  position: absolute;
  top: 36px;
  right: 18px;
  z-index: 110;
  cursor: pointer;
  width: 11px;
  height: 12px;
  font-size: 0;
}

.breadcrumbs {
  padding: 10px;
  background: rgb(66, 66, 66);
}

.breadcrumbs__inner {
  display: flex;
  align-items: center;
  gap: 13.4px;
  flex-wrap: wrap;
}

.breadcrumbs a {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  position: relative;
}

.breadcrumbs a::after {
  content: "/";
  position: absolute;
  top: 0;
  right: -10.7px;
}

.breadcrumbs a:last-child::after {
  display: none;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

.title a {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.slider__inner {
  position: relative;
}

.slider {
  overflow: hidden;
}

.swiper-container {
  width: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  width: 44px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  z-index: 999;
}

.swiper-button-next {
  right: -20px;
}

.swiper-button-prev {
  transform: rotate(180deg);
  left: -20px;
}

.swiper-button-disabled {
  display: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 0;
  width: 12.87px;
  height: 21.28px;
  background-image: url("../img/arrow-right.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.item__image {
  height: 192px;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__image-text {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 8px;
  backdrop-filter: blur(48px);
  padding: 8px 12px;
  border-radius: 16px;
  background: rgba(47, 34, 36, 0.16);
  cursor: default;
}

.item__image-text span:first-child {
  color: rgb(208, 200, 201);
  font-size: 13px;
  font-weight: 700;
  margin-right: 4px;
}

.item__image-text span:last-child {
  color: rgb(246, 244, 244);
  font-size: 13px;
  font-weight: 700;
}

.item__body-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.item__body {
  margin-top: 9px;
}

.item__body-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title__rating {
  display: flex;
  gap: 5px;
}

.title__rating span:nth-child(2) {
  color: rgb(167, 37, 54);
  font-size: 14px;
  font-weight: 600;
}

.title__rating span:last-child {
  color: rgb(171, 156, 158);
  font-size: 14px;
  font-weight: 700;
}

.item__body-left span {
  color: rgb(132, 113, 115);
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 3px;
  display: inline-block;
}

.item__kitchen {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 3px;
}

.item__kitchen span {
  color: rgb(88, 75, 77);
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 0;
}

.item__price {
  display: flex;
  align-items: center;
  gap: 4px 24px;
  flex-wrap: wrap;
}

.receipt {
  display: flex;
  align-items: center;
}

.price {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2px;
}

.price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -12px;
  width: 1px;
  height: 100%;
  border-radius: 2px;
  background: rgb(171, 156, 158);
}

.receipt {
  display: flex;
  align-items: center;
  gap: 7px;
}

.receipt span {
  color: rgb(88, 75, 77);
  font-size: 11px;
  font-weight: 500;
  line-height: 14px;
  margin-bottom: 0;
}

.time {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 8px;
}

.time span {
  color: rgb(88, 75, 77);
  font-size: 11px;
  font-weight: 700;
}

.item__body-right div {
  color: rgb(132, 113, 115);
  font-size: 11px;
  font-weight: 700;
  line-height: 14px;
  text-align: end;
}

.select {
  display: none !important;
}

/* ----------------------------------------------------------- */

@media (max-width: 950px) {
  .container {
    padding: 0 10px;
  }

  .header__inner {
    padding: 12px 0;
  }

  .langs__list {
    top: 12px;
  }

  .form,
  .header__logo img:nth-child(1) {
    display: none;
  }

  .header__logo img:nth-child(2) {
    display: block;
  }

  .langs__link {
    gap: 12px;
  }

  .langs__link span {
    font-size: 12px;
    line-height: 14px;
  }

  .swiper-button-next {
    right: -8px;
  }

  .swiper-button-prev {
    left: -8px;
  }
}

@media (max-width: 600px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 21px;
    line-height: 25px;
  }

  .title a {
    font-size: 14px;
    margin-top: 8px;
  }
}
